{% extends "base.html" %}
{% block content %}
    <section class="hidden xl:container xl:block 2xl:px-36 xl:mx-auto px-20 xl:blogs h-full mb-16">
      <div class="text-right mx-auto" dir="rtl">
        <p class="px-5 pt-10 xl:pt-0 text-6xl font-bold">مقالات مختارة لك!</p>
        <p class="px-5 pt-5 xl:pt-3 pb-10 xl:pb-5 text-2xl">لا تفوتك احدث مقالاتنا في مجتمعك</p>
      </div>

      <div class="grid grid-cols-3 grid-rows-2 gap-4 h-[800px] mx-auto" dir="rtl">
        
        {% if header.0 %}
        <a href="/blog/{{ header.0.id }}" class="block p-4 transition-colors duration-300 hover:bg-[#eeede8] rounded-lg row-span-2 col-start-3 row-start-1 border-4 border-primary-400 text-text">
          <div class="flex flex-col h-full ">
            <img class="w-full h-[60%] rounded-lg object-cover" src="{{ header.0.img.url }}" alt="صورة مقال {{ header.0.title }}">
            
            <div class="flex flex-col flex-grow pt-4 justify-between">
                <h1 class="font-bold hover:underline text-primary-600 text-2xl leading-snug">{{ header.0.title }}</h1>
                <p class="text-right text-md md:text-lg ">{{ header.0.content|truncatewords:30|safe }}</p>
              <div>
                 <div class="flex items-center mt-2">
                  <img class="rounded-full w-6 h-6 ml-2 object-cover" src="https://placehold.co/300x300" alt="صورة الكاتب">
                  <p class="text-md text-primary-500">{{ header.0.author.first_name }} {{ header.0.author.last_name }}</p>
                </div>
                  <p class="text-sm text-right text-gray-400 mt-1">تاريخ النشر: {{ header.0.date }}</p>
              </div>
            </div>
          </div>
        </a>
        {% endif %}

        {% if header.1 %}
        <a href="/blog/{{ header.1.id }}" class="block p-4 transition-colors duration-300 hover:bg-[#eeede8] rounded-lg col-span-2 col-start-1 row-start-1 border-4 border-primary-400 text-text">
          <div class="flex flex-row h-full gap-4">
            <img class="w-1/2 h-full rounded-lg object-cover" src="{{ header.1.img.url }}" alt="صورة مقال {{ header.1.title }}">
            
            <div class="flex flex-col flex-grow pt-4 justify-between">
                <h1 class="font-bold hover:underline text-primary-600 text-2xl leading-snug">{{ header.1.title }}</h1>
                <p class="text-right text-md md:text-lg ">{{ header.1.content|truncatewords:30|safe }}</p>
              <div>
                 <div class="flex items-center mt-2">
                  <img class="rounded-full w-6 h-6 ml-2 object-cover" src="https://placehold.co/300x300" alt="صورة الكاتب">
                  <p class="text-md text-primary-500">{{ header.1.author.first_name }} {{ header.1.author.last_name }}</p>
                </div>
                  <p class="text-sm text-right text-gray-400 mt-1">تاريخ النشر: {{ header.1.date }}</p>
              </div>
            </div>
          </div>
        </a>
        {% endif %}

        {% if header.2 %}
        <a href="/blog/{{ header.2.id }}" class="block p-4 transition-colors duration-300 hover:bg-[#eeede8] rounded-lg col-start-1 row-start-2 border-4 border-primary-400 text-text">
          <div class="flex flex-col h-full">
            <img class="w-full h-3/5 rounded-lg object-cover mb-4" src="{{ header.2.img.url }}" alt="صورة مقال {{ header.2.title }}">

            <div class="flex flex-col justify-between flex-grow">
                <div> <h1 class="font-bold hover:underline text-primary-600 text-xl leading-snug mb-2">{{ header.2.title }}</h1>
                    <p class="text-right text-sm">{{ header.2.content|truncatewords:10|safe }}</p>
                </div>
                <div class="mt-2"> <div class="flex items-center">
                        <img class="rounded-full w-6 h-6 ml-2 object-cover" src="https://placehold.co/300x300" alt="صورة الكاتب">
                        <p class="text-md text-primary-500">{{ header.2.author.first_name }} {{ header.2.author.last_name }}</p>
                    </div>
                    <p class="text-sm text-right text-gray-400 mt-1">تاريخ النشر: {{ header.2.date }}</p>
                </div>
            </div>
          </div>
        </a>
        {% endif %}
        
        {% if header.3 %}
        <a href="/blog/{{ header.3.id }}" class="block p-4 transition-colors duration-300 hover:bg-[#eeede8] rounded-lg col-start-2 row-start-2 border-4 border-primary-400 text-text">
            <div class="flex flex-col h-full">
                <img class="w-full h-3/5 rounded-lg object-cover mb-4" src="{{ header.3.img.url }}" alt="صورة مقال {{ header.3.title }}">
                
                <div class="flex flex-col justify-between flex-grow">
                    <div> <h1 class="font-bold hover:underline text-primary-600 text-xl leading-snug mb-2">{{ header.3.title }}</h1>
                        <p class="text-right text-sm">{{ header.3.content|truncatewords:10|safe }}</p>
                    </div>
                    <div class="mt-2"> <div class="flex items-center">
                            <img class="rounded-full w-6 h-6 ml-2 object-cover" src="https://placehold.co/300x300" alt="صورة الكاتب">
                            <p class="text-md text-primary-500">{{ header.3.author.first_name }} {{ header.3.author.last_name }}</p>
                        </div>
                        <p class="text-sm text-right text-gray-400 mt-1">تاريخ النشر: {{ header.3.date }}</p>
                    </div>
                </div>
              </div>
        </a>
        {% endif %}

      </div>
    </section>


        <section class="container xl:border-y-4 xl:border-black mx-auto p-5" dir="rtl">
          <div>
            <p class="text-7xl font-bold">
              مقالات
            </p>
            <p class="text-2xl font-normal text-gray-600 mb-8 mt-3">
              مقالات مختارة لك و احدث مقالات مختارة لك
            </p>
            {% if user.is_authenticated %}
              <a href="/blog/create" class="text-white font-bold text-xl border-2 bg-primary-600 rounded-md p-3 hover:bg-primary-500">اضافة مقال</a>
            {% else %}

            {% endif %}
          </div>
          <div class="md:grid md:grid-cols-2 xl:grid-cols-3 mt-5 gap-8">
          {% for blog in blogs %}
            <a href="/blog/{{blog.id}}" class="block">
              <div class="">
                <div class="w-full h-full md:h-[590px] lg:h-[620px] hover:bg-[#eeede8] rounded-md xl:rounded-xl mt-2">
                  <div class="w-full -white h-full p-5 border-4 border-primary-400 text-text rounded-lg shadow-md">
                    <!-- Image Section -->
                    <img class="w-full h-[200px] md:h-[270px] lg:h-[300px] 2xl:h-[300px] rounded-xl object-cover mb-3 md:h-[340px]" src="{{blog.img.url}}" alt="">
                    <!-- Content Section -->
                    <div class="flex flex-col justify-start pr-2 w-full">
                      <!-- Title -->
                      <h1 class="font-bold 7-words hover:underline text-primary-600 text-xl md:text-3xl text-right leading-snug mb-2">
                        {{blog.title}}
                      </h1>
                      <!-- Description -->
                      <div class="text-right lg:pb-5">
                        <p class="whatever-words prose prose-sm prose-gray rtl text-right text-right text-gray-500 text-md md:text-lg inline mb-4 lg:text-md">
                          {{blog.content | truncatewords:20 | safe }}
                        </p>
                      </div>
                      <!-- Author and Date -->
                      <div class="flex mt-5">
                        <img class="rounded-full w-[35px] h-[35px] ml-2" src="https://placehold.co/300x300" alt="">
                        <p class="text-right mt-1 text-md md:text-lg text-primary-500">
                          {{blog.author.first_name}} {{blog.author.last_name}}
                        </p>
                      </div>
                      <p class="text-md text-right md:text-lg text-gray-400 mt-2">
                        تاريخ النشر: {{blog.date}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        </section>
        
      </div>
{% endblock %}