{% extends "base.html" %}
{% block content %}
      <section>
        <div class="bg-white py-24 sm:py-32">
          <div class="container mx-auto px-6 lg:px-8">
            <h1 class="text-4xl font-bold">All announced Al-Yamamah News/Events</h1>
            <p class="pt-4 text-lg font-semibold" style="color:#f68938">Explore the latest updates and activities at Al-Yamamah.</p>
          </div>
        </div>
      </section>
      <section>
        <div class="bg-white py- sm:py-">
          <div class="container mx-auto px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-10">
              {% for event in events %}
              <article class="group grid rounded-md max-w-full grid-cols-1 md:grid-cols-8 overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 ">
                
                <!-- image -->
                <div class="col-span-3 overflow-hidden">
                    <img src="{{ event.img.url }}" class="h-52 md:h-72 w-full object-cover transition duration-700 ease-out group-hover:scale-105" alt="a men wearing VR goggles" />
                </div>
                <!-- body -->
                <div class="flex flex-col justify-center p-6 col-span-5">
                    <small class="mb-4 font-medium">{{ event.tag_1 }}</small>
                    <h3 class="text-balance text-xl font-bold text-neutral-900 lg:text-2xl " aria-describedby="articleDescription">{{ event.title }}</h3>
                    <p id="articleDescription" class="my-4 max-w-lg text-pretty text-sm">
                      {{ event.content }}
                    </p>
                    <p class="text- text-orange-400">Start Date: {{ event.date_start }} | End Data: {{ event.date_end }}</p>
                </div>
            </article>
            {% endfor %}
              <!-- ENDCARD -->
      
            </div>
          </div>
        </div>
      </section>
{% endblock content %}
